/* *{background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;} */
 *{
   background-color: #33333325
    ;
   /* background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover; */
   box-sizing: border-box;
 }
 html, body {
  background-color: #000;
  width: 100vw;
  overflow-x: hidden;
  }
  body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: hsl(0, 0%, 100%);
  text-align: left;
  }